<div class="wrapper">
    <div class="page-header page-header-image">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style=" background-image: url('assets/img/kul-sharif-mosque.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">بِسْمِ ٱللَّهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ الٓر ۚ كِتَٰبٌ أَنزَلْنَٰهُ إِلَيْكَ لِتُخْرِجَ
                    ٱلنَّاسَ مِنَ ٱلظُّلُمَٰتِ إِلَى ٱلنُّورِ بِإِذْنِ رَبِّهِمْ إِلَىٰ صِرَٰطِ ٱلْعَزِيزِ ٱلْحَمِيدِ
                </h1>
                <div class="text-center">
                    <a href="https://www.youtube.com/user/IlyP999" class="btn btn-primary btn-icon btn-round"
                        target="_blank">
                        <i class="fa fa-youtube-play"></i>
                    </a>
                    <a href="http://www.soundcloud.com/ShahatQuranTV" class="btn btn-primary btn-icon btn-round"
                        target="_blank">
                        <i class="fa fa-soundcloud"></i>
                    </a>

                </div>
            </div>
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title text-muted">
                        عن عمر بن الخطاب -رضي الله عنه-: أن النبي -صلى الله عليه وسلم- قال: «إن اللهَ يَرفعُ بهذا
                        الكِتابِ أقْواماً ويَضَعُ به آخَرِينَ».
                        صحيح - رواه مسلم
                    </h2>
                    <h5 class="description"> {{ 'main-hamdd.desc' | translate }} </h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left "
                            style="background-image: url('assets/img/conference.jpg')">
                            <!-- First image on the left side -->
                            <p class="blockquote blockquote-primary text-center font-weight-bold">
                                {{ 'sha3rawi.desc' | translate }}

                                <br>
                                <small class="font-weight-bold">-{{ 'sha3rawi.name' | translate }}</small>
                            </p>
                        </div>
                        <!-- Second image on the left side of the article -->
                        <div class="image-container" style="background-image: url('assets/img/conference.jpg')"></div>
                    </div>
                    <div class="col-md-5">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right"
                            style="background-image: url('assets/img/sha3rawi.jpg')"></div>
                        <h3>{{ 'dua.sectionOne' | translate }}</h3>
                        <p class="text-center description">{{ 'dua.sectionTwo' | translate }}
                        </p>
                        <br>
                        <p class="text-center description">
                            {{ 'dua.sectionThree' | translate }}
                        </p>
                        <br>
                        <p class="text-center description">
                            {{ 'dua.sectionFour' | translate }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-team text-center">
        <div class="container">
            <h2 class="title"> {{ 'family-profile.title' | translate }}</h2>
            <div class="team">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/sheikh-mahmoud.jpg" alt="Thumbnail Image"
                                class="rounded-circle img-fluid img-raised">
                            <h4 class="title">{{ 'profile-mahm.name' | translate }}</h4>
                            <p class="category text-primary">{{ 'profile-mahm.title' | translate }}</p>
                            <p class="description">{{ 'profile-mahm.desc' | translate }}
                                <a href="#">links</a>Modal Story will go in here.</p>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i
                                    class="fa fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i
                                    class="fa fa-instagram"></i></a>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i
                                    class="fa fa-facebook-square"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/sheikh-shahaat.jpg" alt="Thumbnail Image"
                                class="rounded-circle img-fluid img-raised">
                            <h4 class="title" style="font-family: 'Amiri';">{{ 'profile-shahat.name' | translate }}</h4>
                            <p class="category text-primary">{{ 'profile-shahat.title' | translate }}</p>
                            <p class="category text-primary">{{ 'profile-shahat.from-to' | translate }}</p>
                            <p class="description">{{ 'profile-shahat.desc' | translate }}

                                <a href="#">links</a> Modal Story.</p>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i
                                    class="fa fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i
                                    class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/sheikh-anwar.jpg" alt="Thumbnail Image"
                                class="rounded-circle img-fluid img-raised">
                            <h4 class="title">{{ 'profile-anwar.name' | translate }}</h4>
                            <p class="category text-primary">{{ 'profile-anwar.title' | translate }}</p>
                            <p class="description">{{ 'profile-anwar.desc' | translate }}
                                <a href="#">links</a> Modal story will go in here</p>

                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i
                                    class="fa fa-google-plus"></i></a>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i
                                    class="fa fa-youtube-play"></i></a>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i
                                    class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-contact-us text-center">
        <div class="container">
            <h2 class="title text-info"> {{ 'placeHolders.header' | translate }}</h2>
            <p class="description text-primary">{{ 'placeHolders.intro' | translate }}</p>
            <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                    <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="now-ui-icons users_circle-08"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="{{ 'placeHolders.name' | translate }}" (focus)="focus=true"
                            (blur)="focus=false">
                    </div>
                    <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="now-ui-icons ui-1_email-85"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control " placeholder="{{ 'placeHolders.email' | translate }}" (focus)="focus1=true"
                            (blur)="focus1=false">
                    </div>
                    <div class="textarea-container">
                        <textarea class="form-control" name="name" rows="4" cols="80"
                            placeholder="{{ 'placeHolders.message' | translate }}"></textarea>
                    </div>
                    <div class="send-button">
                        <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">{{ 'placeHolders.sendBtn' | translate }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  

    <footer class="footer footer-default">
        <div class="container">
            <!-- <nav>
                <ul>

                    <li>
                        <a (click)="switchLanguage('en')" class="btn">
                            EN
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            AR
                        </a>
                    </li>
                </ul>
            </nav> -->
            <button class="btn btn-sm btn-en-flag" (click)="useLanguage('en')">EN</button>
            <button class="btn btn-sm btn-ar-flag" (click)="useLanguage('ar')">AR</button>
            


            <div class="copyright text-center">
                &copy;
                {{data | date: 'yyyy'}}, All rights reserved
            </div>
        </div>
    </footer>
</div>